body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    color: #FFFFFF;
}

p {
    color: #FFFFFF;
}

a {
    color: #007bff;
    text-decoration: none;
}
