<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>About Page</title>
</head>
<body>
    <h1>Application Instructions</h1>
    <hr>
    <p>This application was created to be able to check in on senior safety wellbeing<br>
        and answer questions in a conversational format. To operate this device, make <br>
        sure that you have given camera and microphone permissions to this website before <br>
        operating. Afterwards, click the microphone and camera buttons to turn them on <br>
        and wait for output. Have fun!</p>
    <hr>
    <a href="/">Back to Home</a>
    <hr>
    <h6>Copyright Anda Xie 2023. All Rights Reserved. Violators will have their IP pulled and leaked >:p</h6>
</body>
</html>
