<!DOCTYPE = HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>HomePage</title> <!--Setup Code--> 
</head>
<body>
    <div id="Header">
        <h1>Silver Sync Demonstration</h1>
        <img src="logo.jpg" alt="Picture of Silver Sync Logo">
    </div>
    <div id="Inputs">
        <form action='{{url}}' method="post">
            <button type="button" id="camButton" name="camButton" value="cam">Activate Camera</button>
            <button type="button" id = "micButton" name="micButton" value="mic">Activate Microphone</button>
        </form>
    </div>
    <hr>
    <a href="/about">Instructions</a>
    <hr>
    <h6>Copyright Anda Xie 2023. All Rights Reserved. Violators will have their IP pulled and leaked >:p</h6>

</body>
</html>
