<!DOCTYPE html>
<html>
<head>
    <title>About Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Error Page. You should not be here</h1>
    <pre>⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⣀⣀⣶⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⣷⣶⣶⣶⣤⣤⣤⣄⡀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⣾⣿⠿⠛⠉⠉⠁⠀⠀⠀⠀⠀⠀⠈⠉⠉⠉⠉⠙⠛⠛⠙⣿⡅⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⣸⡟⠁⠀⠀⠀⠀⠀⠀.⠀⠀⠀⠀⠀⠀⠀;⠀⠀⠀⠀⠀⠀⣿⡧⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠁⡀⠀⠀⠀⠀⡐⠀⠀⠀⠀⠀⠀⣿⣟⢀⣀⠀⠀⠀
⠀⠀⠀⠀⠀⣿⡇⠀⠀⢶⣤⣤⣀⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣀⣠⣤⡤⠸⡁⠀⡘⠀⠀⠀
⠀⠀⠐⡈⠓⡟⠂⠤⢀⠊⠛⢙⣛⡿⠿⠶⠂⢀⢀⣀⡱⡾⠿⠿⠟⡟⡍⡐⠁⡃⠌⠀⠀⠀⠀
⠀⠀⠀⠈⠢⣁⠀⠀⠸⡀⠈⠘⠙⠐⢹⠈⠨⠀⠀⠐⡄⠀⠁⠊⠛⠁⢸⠀⠀⡏⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠘⡄⠀⠀⠀⠉⠁⠁⠐⠈⠀⠀⠀⠀⠀⡅⠒⠂⠀⠂⠒⠂⠀⠀⠅⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⡂⠀⠀⠀⠀⠀⠀⠀⠀⠀⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⠁⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠂⠀⠀⠀⠀⠀⠀⠀⠀⢀⠃⠀⠀⠀⡀⠀⠀⠀⠀⠀⠀⠀⡈⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠘⡄⠀⠀⠀⠀⠀⠀⠀⠂⠁⠁⠂⠁⠈⠄⠀⠀⠀⠀⠀⠀⡇⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⢁⠀⠀⠀⠀⠄⠀⠀⢀⡠⢄⣀⣀⠤⣀⠀⠂⡀⠀⠀⢠⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠰⠀⠀⠀⠈⢀⣔⣉⣁⣀⡀⢄⣀⣀⣀⠱⢦⠀⠀⠀⠆⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠣⡀⠀⠔⠉⢆⠀⠀⠀⠀⠀⠀⠀⣀⠤⠋⠐⢄⠎⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⢄⠀⠀⠀⠑⠒⢐⢄⠒⠊⠉⠀⠀⠀⡠⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠑⢄⠀⠀⠀⠁⠀⠀⠁⠀⢀⠠⠊⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠑⠤⣀⠀⢀⢀⡠⠂⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀</pre>
  <h3>"The website has fallen. Millions must 404."</h3>
  <h3>Is this an easter egg? Probably. I'm no game developer.</h3>
  <h3>Remember that you are loved \(>u<)/. Also remember that you are not immune to propaganda nor free from exploitation /(o_o||)\.</h3>
  <h3>Please actually use the app now.</h3>
  <h3>Bye!!!!</h3>
  <hr>
  <a href="/">Go to Home Page</a>
  <a href="/about">Go to About Page</a>
</body>
</html>
